.container{
	margin: 0;
}
.navar{
	height: 60px;
	background: #aae;
}
.header{
    height: 600px;
	background: #aab;
}
h2{
	margin: 0;
}
.celphone{
	width: 45%;
	float: right;
	height: 100%;
}
.threephone{
	width: 100%;
	height: 115%;
}

.choose{
	height: 500px;
	background: #aae;
	overflow: hidden;
	text-align: center;
}
.articles{
	height: 400px;
	background: #aab;
	overflow: hidden;
	text-align: center;
}
h3 {
	text-align: left;
}
.article{
	width: 24%;
	border: 1px solid black;
	display: inline-block;
}
.footer{
    height: 120px;
	background: #aae;
}